<!DOCTYPE html>
<html>
    <head>
        <title>Daily Planner</title>
    </head>
    <body>
    <h1>Set tasks</h1>
        <form method="POST" action="/tasks">
        {{ form.csrv_token }}
            <div>
                {{ form.majorTask.label}} {{ form.majorTask(size=20)}}
                {% for error in form.majorTask.errors %}
                <span style="color:red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div>
                {{ form.shortTask1.label }} {{ form.shortTask1(size=20) }}
                {% for error in form.shortTask1.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div>
                {{ form.shortTask2.label }} {{ form.shortTask2(size=20) }}
                {% for error in form.shortTask2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div>
                {{ form.shortTask3.label }} {{ form.shortTask3(size=20) }}
                {% for error in form.shortTask3.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.maintenance1.label }} {{ form.maintenance1(size=20) }}
                {% for error in form.maintenance1.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.maintenance2.label }} {{ form.maintenance2(size=20) }}
                {% for error in form.maintenance2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div>
                {{ form.maintenance3.label }} {{ form.maintenance3(size=20) }}
                {% for error in form.maintenance3.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit }}
            </div>
        </form>
    </body>
</html>